# Sass
.sass-cache

# Grav Specific
backup/*
!backup/.*
cache/*
!cache/.*
logs/*
!logs/.*
images/*
!images/.*

_input/
user/*
!user/pages
!user/themes

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
