<section id="{{ page.folder|replace({'_': ''})|lower }}" class="offer-section container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center">{{ page.header.title }}</h2>
            <div class="border-orange"></div>
            {{ page.content }}
        </div>

    </div>
</section>