/*******************************************/
/*               Font-face                 */
/*******************************************/

@font-face {
    font-family: 'Droid Serif Bold';
    src: url('../fonts/Droid_Serif/DroidSerif-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Droid Serif BoldItalic';
    src: url('../fonts/Droid_Serif/DroidSerif-BoldItalic.ttf')  format('truetype');
}
@font-face {
    font-family: 'Droid Serif Italic';
    src: url('../fonts/Droid_Serif/DroidSerif-Italic.ttf')  format('truetype');
}
@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/Droid_Serif/DroidSerif.ttf')  format('truetype');
}


@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Ubuntu BoldItalic';
    src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.ttf')  format('truetype');
}
@font-face {
    font-family: 'Ubuntu Italic';
    src: url('../fonts/Ubuntu/Ubuntu-Italic.ttf')  format('truetype');
}
@font-face {
    font-family: 'Ubuntu Light';
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'Ubuntu LightItalic';
    src: url('../fonts/Ubuntu/Ubuntu-LightItalic.ttf')  format('truetype');
}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'Ubuntu MediumItalic';
    src: url('../fonts/Ubuntu/Ubuntu-MediumItalic.ttf')  format('truetype');
}
@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf')  format('truetype');
}

/*******************************************/
/*               GENERAL                   */
/*******************************************/
body {
    font-family: 'Ubuntu Regular', Helvetica;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #4d4c4a;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1 {
    font-family: 'Ubuntu Medium', Helvetica;
    font-size: 38px;
}
h2 {
    font-family: 'Ubuntu Bold', Helvetica;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-size: 17px;
}
h5 {
    font-size: 15.5px;
    font-family: 'Ubuntu Bold', Helvetica;
}
.border-orange, .border-black {
    background-size: 70px 10px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;
    margin-bottom: 48px;
}
.border-orange {
    background-image: url('../images/border-orange.png');
}
.border-black {
    background-image: url('../images/border-black.png');
}
.column-article {
    padding: 0 10px 0 60px;
}
.btn.btn-default {
    background-color: #f78c68;
    font-family: 'Ubuntu Bold', Helvetica;
    text-transform: uppercase;
    color: #fff;
    margin: 50px auto 0;
    border:none;
    line-height: 2em;

}
@media(max-width:750px) {
    .column-article {
        padding: 0 15px;
    }
}
/*******************************************/
/*              NAVIGATION                 */
/*******************************************/
.navbar {
    height: 126px;
    background-color: #fff;
    padding-top: 30px;
}
.navbar-brand {
    margin-top: -10px;
}
.navbar img {
    width: 240px;
    height: auto;;
}

.navbar-toggle .icon-bar {
    background-color: #4d4c4a;
}
#navbar {
    background-color: #fff;
}
#navbar ul li {
    padding: 0 18px;
}
#navbar ul li a {
    color: #4d4c4a;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: transparent;
}
#navbar ul li a:hover {
    background-color: #fff;
    border-bottom: 3px solid #f78c68;
}
#navbar ul li.active a {
    border-bottom: 3px solid #f78c68;
    font-family: 'Ubuntu Medium', Helvetica;
}
@media (max-width: 992px) {
    .navbar {
        height: 70px;
        padding-top: 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        padding: 6px 10px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
        background-color: #fff;
        padding-bottom: 20px;
    }
}
@media(min-width:992px) {
    .navbar {
        height: 60px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
    }
    .navbar-brand {
        margin-top: 0;
    }
    .navbar-nav {
        margin: 7.5px -15px;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

@media(max-width:400px) {
    .navbar {
        height: 60px;
    }
    .navbar img {
        width: 180px;
    }
    .navbar-toggle {
        padding: 1px 10px;
    }
    .navbar-header {
        margin-top: 18px !important;
    }
}

/*******************************************/
/*              BANNER                     */
/*******************************************/
.banner-section {
    font-size: 20px;
    margin-top: 126px;
    min-height: 465px;
    background-color: #268abc;
    background-size: auto 465px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    color: #fff;
    padding-top: 65px;
}
.banner-section .content-title {
    position: relative;
}

.banner-section .content-wrapper {
    margin-top: 40px;
}
.banner-section .content-wrapper p {
    position: relative;
    padding-top: 10px;
    padding-right: 50px;
}
.banner-section .content-wrapper em {
    font-family: 'Droid Serif Italic', San Serif;
    font-size: 20px;
}
.banner-section .content-wrapper em:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    height: 2px;
    width: 20px;
    margin-left: 0;
    display: block;
    background-color: #fff;
}
@media (min-width: 992px) {
    .banner-section h1 {
        position: absolute;
        top: 35px;
        right: 100px;
        text-align: right;
        width: 100%
    }
}
@media (min-width: 992px) and (max-width: 1110px) {
    .banner-section h1 {
        font-size: 32px;
    }
}
@media (max-width: 992px) {
    .banner-section {
        background-image: url('../images/background-rvg-mobile.png') !important;
        text-align: center;
        margin-top: 70px;
    }
    .banner-section h1 {
        margin: 0;
    }
    .banner-section .content-wrapper em:before {
        left: 45%;
    }
    .banner-section .content-wrapper {
        padding-bottom: 30px;
    }
    .banner-section .content-wrapper p {
        padding-right: 0;
    }
    .navbar-header {
        margin-top: 15px;
    }
}
/*******************************************/
/*                 ABOUT                   */
/*******************************************/
.about-section {
    padding-bottom: 0;
    position:relative;
    overflow: hidden;
    font-size: 20px;
}
.about-section h2 {
    font-size: 17px;
    padding-top: 48px;
}
.about-section p {
    padding: 0 20px 35px;

}
.about-section .img-wrapper {
    padding: 0;
}
.about-section img {
    /*height: 408px;*/
    position: absolute;
    top: 20px;
    width: 340px !important;
    height:auto;
}
@media (max-width: 1200px) {
    .about-section img {
        position: absolute;
        top: 81px;
        width: 320px!important;
        height: auto;
    }
}
@media (max-width: 992px) {
    .about-section img {
        position:static;
        width: 340px !important;
        height:auto;
    }
}


/*******************************************/
/*          OVER PSYCHOTHEEK               */
/*******************************************/
.over-section {
    padding-top: 48px;
    padding-bottom: 140px;
    background-color: #f78c68;
    color: #fff;
}
.over-section p {
    font-size: 25px;
    line-height: 38px;
    padding: 0 10px;
}
/*******************************************/
/*             OFFER                       */
/*******************************************/
.offer-section {
    padding-top: 26px;
    padding-bottom: 88px;
}
.offer-section p {
    font-size: 20.5px;
    letter-spacing: 0;
}
.offer-section ul {
    padding-left: 0;
}
.offer-section ul li {
    color: #7a7879;
    font-size: 18px;
    padding: 5px 0;
    line-height: 24px;
    margin-left: 18px;
    letter-spacing: 0;
}


/*******************************************/
/*               PRACTICAL                 */
/*******************************************/
.pracical-section {
    padding-top: 36px;
    padding-bottom: 80px;
    background-color: #feefe8;
}
.pracical-section h5 {
    padding-top: 10px;
}
.pracical-section .border-orange {
    margin-bottom: 25px;
}
.pracical-section p {
    font-size: 16.5px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0;
}
.pracical-section ul {
    padding-left: 0;
}
.pracical-section ul li {
    font-size: 16px;
    margin-left: 18px;
    line-height: 24px;
    letter-spacing: 0;
}
/*******************************************/
/*                                         */
/*******************************************/


/*******************************************/
/*                                         */
/*******************************************/
